html,body, #map-canvas { height: 100%; }
body { margin: 0; padding: 0; }
#map-canvas {
  width:50%;
  float:left;
}
#hyperlapse {
  width: 50%;
  float:left;
  overflow: hidden;
}

#hyperlapse canvas {
  /*max-width: 100%;*/
}
